<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<h1> this is new about section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			 Maxime ipsa magnam est delectus ratione perferendis quas.
			  Voluptatibus incidunt minima vero nam esse quisquam 
			  consequuntur modi impedit rerum nisi 
			fugiat ullam eaque molestiae molestias repellat est neque
			 explicabo ea temporibus dolorem! Delectus quidem nostrum
			  iusto quos odit nesciunt veniam blanditiis recusandae!
			  </p>
		
	</section>
	
</body>
</html>